<header class="px-3 py-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            {{site.title}}
        </a>
    
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
            <a href="/hakkimda" class="nav-link text-white">
                Hakkımda
            </a>
            </li>
            <li>
                <a href="https://youtube.com/desponres" target="_blank" class="nav-link text-white">
                    Youtube Dersler
                </a>
            </li>
            <li>
                <a href="https://github.com/mburakdndr?tab=repositories" target="_blank" class="nav-link text-white">
                    Projeler
                </a>
            </li>    
            <li>
            <a href="/iletisim" class="nav-link text-white">
                İletişim
            </a>
            </li>
        </ul>
        </div>
    </div>
</header>
