{% if paginator.total_pages > 1 %}
<nav>
  <ul class="pagination">
      {% if paginator.previous_page %}
      <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fas fa-angle-double-left"></i> Önceki Sayfa</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Sonraki Sayfa <i class="fas fa-angle-double-right"></i></a>
      </li>
      {% endif %}
  </ul>
</nav>
{% endif %}