<a href="https://facebook.com/mburakdundar" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
<a href="https://twitter.com/mburakdndr" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
<a href="https://instagram.com/mburakdndr" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
<a href="https://linkedin.com/in/mburakdundar" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
<a href="https://github.com/mburakdundar" target="_blank"><i class="fab fa-github fa-2x"></i></a>
